@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

#footer {
    background: #ff3a3ac2;
    border-top: 1px solid #750101;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-content: center;
    align-items: center;
    width: 100%;
}

#footer a {
    color: #181818;
}

#footer a:hover {
    color: #ffffff;
}

#footer a:active {
    color: #ffd900;
}

@media screen and (max-width: 600px) {
    #footer {
        font-size: .8em;
    }
}